body{
	background-color: #e6004c;
}
.classone{
	background-color: snow;
	width: 500px;
	height: 350px;
	margin-top: 70px;
	border-radius: 15px;
	box-shadow: 0 1px 35px skyblue;
	border-color: hotpink;
	font-family: sans-serif;
	margin-left: 500px;
}
#sign{
	font-size: 30px;
}
#username{
	width: 200px;
	height: 25px;
	border-radius: 6px;
	border-color: hotpink;
	margin-left: 30px;
}
#login{
	width: 100px;
	height: 40px;
	border-radius: 10px;
	background-color: lightyellow;
	box-shadow: 1px 0px 35px hotpink;
	border-color: hotpink;
}
h1{
	margin-left: -790px;
	margin-top: -230px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 34px;

}
#des{
	font-family: Arial, Helvetica, sans-serif ;
	text-align: left;
	color: whitesmoke;
	margin-left: 175px;
}
img{
	height: 130px;

}